$beigeColor:rgba(252, 245, 194, 1);
$orangeColor: rgba(243, 152, 24, 1);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.light{
  margin: 0;
  width: 100%;
  height: 800px;
  color:black;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right,rgba(29, 5, 1, 1),
  rgba(220, 152, 62, 1));
  img{
    z-index: 1;
  };
  
}
.light__left{
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100%;
  justify-content: space-around;
  z-index: 1;
}
%ellipse__wrapper{
  position: absolute;
  pointer-events: none;
}
.light__h2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 598px;
  height: 85px;
  h2{
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    color: $beigeColor;
    font-size: 60px;
  }
}
.light__right{
  width: 50%;
  height: 100%;
  background-color:$beigeColor;;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
    h2{
    padding: 5px;
    background-color: rgba(175, 101, 0, 1) ;
    font-size: 40px;
  }
  
}
.light__main{
  font-family: "Montserrat", sans-serif;
  max-width: 748px;
  font-size: 32px;
  color:$beigeColor;
  text-align: right;
  z-index: 2;
}
.light__button{
  width: 300px;
  height: 80px;
  background-color: transparent;
  border: solid $beigeColor 3px;
  border-radius: 20px;
  color:$beigeColor;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  transition: 0.3s;
  &:hover{
    background-color:$beigeColor;
    color:black;
  }
}
.light__ellipse{
  @extend %ellipse__wrapper;
  width: 779px;
  height: 779px;
  background-color:$orangeColor;
  filter: blur(1.5rem);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1102px;
  top: 1100px;
}
.light__ellipse2{
  @extend %ellipse__wrapper;
  width: 333px;
  height: 333px;
  background-color:$orangeColor;
  filter: blur(6rem);
  border-radius: 50%;
  left: 623px;
  top: 800px;
  z-index: 1;
}
.light__ellipse3{
  @extend %ellipse__wrapper;
  width: 524px;
  height: 552px;
  background-color:$orangeColor;
  filter: blur(6rem);
  border-radius: 50%;
  left: -286px;
  top: 1305px;
}
.item{
  transition: 3s;
}
.light__img.item.--animation{
  transform: translate(-120px, 0px) rotate(0deg);
}
@media (max-width: 1880px){
  .light__ellipse{
    left: 902px;
    top: 1005px;
  }
  .light__main{
    max-width: 448;
  }
}
@media (max-width: 1690px){
  .light__ellipse{
    left: 852px;
    top: 1205px;
    width: 609px;
    height: 609px;
  }
}
@media (max-width: 1460px){
  .light__ellipse{
    left: 752px;
    top: 1205px;
    width: 609px;
    height: 609px;
  }
}
@media (max-width: 1350px){
  .light__ellipse{
    left: 652px;
    top: 1105px;
    width: 609px;
    height: 609px;
  }
  .light__img.item.--animation{
    transform: translate(-100px, 0px) rotate(0deg);
  }
  .light__img{
    width: 300px;
    position: relative;
    left: -50px;
  }
  .light__main{
    width: 600px;
  }
}
@media (max-width:1250px){
  .light__ellipse{
    left: 402px;
  }
}
@media (max-width:1085px){
  .light{
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    background: linear-gradient(to top,rgba(29, 5, 1, 1),
  rgba(220, 152, 62, 1));
  }
  .light__img.item.--animation{
    transform: translate(150px, 0px) rotate(0deg);
  }
  .light{
    width: 100%;
    .light__main{
      width: 100%;
      text-align: left;
    }
  }
  .light__h2{
    width: 100%;
  }
  .light__right{
    width: 35%;
  }
  .light__left{
    align-items: start;
  }
  .light__button{
    margin:20px 0 50px 0;
  }
  .light__ellipse2,.light__ellipse3{
    display: none;
  }
  .light__ellipse{
    left: 130px;
    top: 805px;
    filter: blur(5rem);
  }
  .light__img{
    width: 300px;
    position: relative;
    left: -150px;
  }
}
@media (max-width:824px){
  .light__h2{
    h2{
      font-size: 35px;
    }
  }
  .light__ellipse{
    width: 100%;
    left: 0px;
  }
  .light__right{
    margin: 5px;
    height: 60px;
    width: 145px;
    h2{
      background-color: rgba(175, 101, 0, 1) ;
      font-size: 24px;
      margin: 5%;
      padding: 5%;
    }
  }
  .light__main{
    max-width: 400px;
  }
}

@media (max-width:681px){
  .light__ellipse{
    left: 0px;
  }
}
@media (max-width:580px){
  .light__right{
    h2{
      font-size: 14px;
    }
  }
  .h2__left{
    font-size: 30px;
  }
}
@media (max-width:400px){
  .light__main{
    max-width: 300px;
  }
  .ellipse__ellipse{
    width: 100%;
  }
  .light__img{
    width: 100%;
  }
  .light__right{
    width: 50%;
    margin: 0px;
  }
}
@media (max-width:320px){
  .light__button{
    width: 100%;
  }
    .dark__main{
    font-size: 18px;
  }
}